<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Flight Booking Test Suite" >
    <test name="Flight Booking Test">
        <classes>
            <class name="testPages.FilterTest"/>
            <class name="testPages.SeatSelectionTest"/>
        </classes>
    </test>
</suite>

